*{
margin:0;padding:0;
}

h3{
    width:100%;
    height:60px;
    line-height: 60px;
    background-color: #FEBFCA;
    color:#FEFEFE;
    text-align: center;
}

.container{
    margin: auto;
    width:400px;
}
.container img{
    width: 400px;
}
.container p:hover{
    color: pink;
}
h4:hover{
    color: pink;
}
li:hover{color:deeppink}
dl:hover{
    color:deeppink
}
