*{
    margin:0;
    padding: 0;
}
.header{
    height:66px;
    background: #19BDBE url(../images/logo.png) no-repeat center center;
    
}
.container{
    width:720px;
    margin-left: auto;
    margin-right: auto;   
}

.container>h1{
    margin-top: 35px;
}
.container>p{
    margin-top: 15px;
    color: #A0A0A0;
}
img{
    margin-top: 35px;
}
.paragraph{
    text-indent: 30px;
}
table,th,td {
            border: 1px solid #333;
        }
th{
    color:#FEFEFE;
    background-color: #FE810C;
}
tr td:first-child{
    font-weight: bold;
}
table {
    /* 边框折叠 */
    border-collapse: collapse;
    width: 720px;
    line-height: 50px;
    text-align: center;
    }