* {
    margin: 0;
    padding: 0;
}

body {
    background: skyblue;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 60px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    width: 500px;
    height: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container a {
    margin: 10px;
    width: 100px;
    line-height: 50px;
    background-color: rgba(56, 125, 134, 0.61);
    color: white;
    text-decoration: none;
}